.container{
display: flex;
flex-direction: row;
align-items: space-around;
width: 100%;
margin: auto;
}
.imgage{
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: auto;
    

}
.imgage:hover{
opacity:0.75;
width:118px;
height:118px;
}